<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-backlight"
  version="0.0.1"
  xmlns="http://apache.org/cordova/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
>
  <name>Backlight</name>
  <description>Control device screen backlight</description>
  <js-module name="Backlight" src="www/Backlight.js">
    <clobbers target="cordova.plugins.Backlight" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="Backlight">
        <param name="android-package" value="org.apache.cordova.plugin.Backlight" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"></config-file>

    <!-- // Cordova Plugin source file -->
    <source-file src="src/android/Backlight.java" target-dir="src/org/apache/cordova/plugin/" />
  </platform>
</plugin>
